doctype html
html(ng-app='mainApp')
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/angular-material.css')
		link(rel='stylesheet', href='/stylesheets/themes/indigo-theme.css')
		link(rel='stylesheet', href='/stylesheets/themes/red-theme.css')
		link(rel='stylesheet', href='/stylesheets/themes/cyan-theme.css')
	body
		script(src='/javascripts/jquery-2.1.1.js')
		script(src='/javascripts/moment.js')
		script(src='/javascripts/clock.js')
		script(src='/javascripts/hammerjs/hammer.min.js')
		script(src='/javascripts/angular/angular.js')
		script(src='/javascripts/angular.route.js')
		script(src='/javascripts/angular-animate/angular-animate.js')
		script(src='/javascripts/angular-aria/angular-aria.js')
		script(src='/javascripts/angular-material/angular-material.js')
		script(src='/javascripts/angular-youtube.min.js')
		script(src='/javascripts/controllers.js')
		div.buttondemoBasicUsage.doc-content.ng-cloak(ng-controller='MainCtrl', layout='column', ng-cloak)
			div(layout='column', layout-align='center center', md-theme='indigo')
				h1= title
				div.md-whiteframe-z2.inner-cont
					md-toolbar(layout='row')
						div.md-toolbar-tools
							span.md-flex(flex)
								md-button.md-raised.md-primary.md-indigo-theme.nav-btn(href='/').
									Home
								md-button.md-raised.md-primary.md-indigo-theme.nav-btn(href='/javascript').
									Javascript
								md-button.md-raised.md-warn.nav-btn(ng-click='changePage("youtube", "My Youtube Channel")').
									My Youtube Channel
								md-button.md-raised.md-primary.md-indigo-theme.nav-btn(href='/custompc').
									Custom PC Buidling
								md-button.md-raised.md-warn.nav-btn.
									Flash
								md-button.md-raised.md-primary.md-indigo-theme.nav-btn(href='/profile').
									Profile
								md-button.md-raised.md-primary.md-indigo-theme.nav-btn(href='/profile').
									Contact
							md-button.md-fab.md-primary(aria-label='sidebar', ng-click='toggleRight()')
								md-tooltip.
									Open Sidebar
								md-icon(icon='/images/sidebar.svg')
							md-button.md-fab.md-primary(md-theme='cyan', ng-click='showAdvanced($event)')
								md-tooltip.
									Show Clock
								md-icon(icon='/images/time.svg', style='top: 7px; position: absolute; left: 16px;')
					div(layout='row')
						md-content.md-padding.md-indigo-theme.main-content(style='height:600px', layout='column')
							div(style='overflow:scroll; height:600px')
								block content
					include sidebar