doctype html
html(ng-app='mainApp')
	head
		meta#viewport(name="viewport", content="width=device-width,minimum-scale=1.0,initial-scale=1.0")
		title= title
		link(rel='stylesheet', href='/css/styles.css')
		script(type='text/javascript', src='/js/scripts.js')
	body
		div.container(md-theme='indigo', hero-banner-fader, ng-controller='heroMenu')
			block content