h1= subtitle
div.main-cont(layout='column')
	each thing in main
		p !{thing}
	if links
		div(flex)
			each link in links
				md-button.md-raised.md-primary.md-indigo-theme(ng-init=link.open + 'Collapse=true', ng-click=link.open + 'Collapse = !' + link.open + 'Collapse')= link.text
				div.collapse-section(collapse=link.open + 'Collapse')
					calculator-build