div(layout='column')
	//- div(youtube-video, video-id='theBestVideo')
	//- script(src='/javascripts/ytjs.js')
	//- script(src="https://apis.google.com/js/plusone.js")
	//- h3.channel-vid-title Channel Video
	//- div#static_video
	//- div(style="background-color:rgb(85,85,85); width:100%; padding:10px;")
	//- 	div#tandd(style="color:white !important;")
	//- 	div#build-sample(style="height: 48px; width:23%; padding: 8px; background-color: rgb(85, 85, 85); background-position: initial initial; background-repeat: initial initial;")
	//- 		div.g-ytsubscribe(data-channel="steves165", data-layout="full", data-theme="dark", style="background-color:rgb(85, 85, 85);")
	//- 		p(style="visibility:hidden; line-height:20px;") --
	//- script(src="https://gdata.youtube.com/feeds/api/users/steves165/uploads?orderby=published&v=2&alt=jsonc&callback=showVideo")