body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
   @media screen and (min-width: $screen-sm-min) {
     min-width: 750px;
   }
   @media screen and (min-width: $screen-md-min) {
     min-width: 970px;
   }
   @media screen and (min-width: $screen-lg-min) {
     min-width: 1170px;
   }
}

a {
  color: #00B7FF;
}

md-content {
  overflow: scroll;
}

.channel-vid-title {
  margin-top: 0;
  padding-top: 0;
}

.doc-content {
  margin: auto;
  min-width: 1200px;
  max-width: 1200px;
  margin: auto;
}

.inner-cont {
  min-width: 1200px;
  max-width: 1200px;
}

.main-content {
	font-size: 16px;
}

.nav-btn {
	margin-right: 10px !important;
	padding-right: 20px !important;
	padding-left: 20px !important;
}

.close-btn {
	color: black !important;
	font-size: 24px;
}

.form-el input {
  width: 343px;
}

.content-inp input {
  width: 800px;
}

ul.sidebar-list {
	list-style: none;
	margin-top: 30px;
	margin-left: -20px;
}

li.sidebar-item {
	margin-bottom: 20px;
}

.submit-cont {
  margin-right: 15px !important;
}

.submit-row {
  margin-top: 15px !important;
}

.clock {
  font-size: 30px;
}

.me-pic {
  height: 10%;
  width: 10%;
  margin-top: -17px;
}

.main-cont p {
  display: block !important;
}

.title-container {
  width: 100%;
}

.md-button.md-fab {
  width: 60px;
}

.collapse-nav .nav-btn {
  margin-bottom: 10px;
}

.collapse-nav {
  position: absolute;
  top: 60px;
  left: 10px;
}

.navigation-toggle {
  width: 400px;
}

.collapse-nav {
  width: 400px;
}

.content-container {
  margin-bottom: 10px;
}

.page-content {
  margin-bottom: 20px;
}

.calc-section div {
  margin-bottom: 20px;
}

@media screen and (max-width: $screen-sm-max) {
  .collapse-nav {
    width: 300px;
    position: absolute;
    top: 64px;
    left: 50%;
    margin-left: -145px;
  }

  .navigation-toggle {
    width: 300px;
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -150px;
  }
}

.main-content {
  overflow: visible;
}

.profile-img {
  width: 150px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.remove-header-padding {
  margin-top: -40px;
}

@media screen and (min-width: $screen-md-min) {
  .calc-btn {
    width: 100px;
  }
}

.calc-btn {
  width: 100%;
}

.equals-btn {
  width: 100%;
}

.main-value {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

label.md-red-theme {
  color: #f44336;
}

.textFielddemoBasicUsage form > .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: -8px;
}

.textFielddemoBasicUsage .row > * {
  font-size: inherit;
  margin-left: 8px;
  margin-right: 8px;
}

.textFielddemoBasicUsage md-input-group.long > input {
  width: 264px;
}

.dialogdemoBasicUsage .full {
  width: 100%;
  height: 100%; 
}

.dialogdemoBasicUsage .gap {
  width: 50px; 
}

.dialogdemoBasicUsage .md-subheader {
  background-color: #dcedc8;
  margin: 0px; 
}

.dialogdemoBasicUsage h2.md-subheader {
  margin: 0px;
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -24px;
}

.dialogdemoBasicUsage h2.md-subheader.md-sticky-clone {
  margin-right: 0px;
  margin-top: 0px;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16);
}

.dialogdemoBasicUsage h2 .md-subheader-content {
  padding-left: 10px;
}

.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px;
}

.buttondemoBasicUsage md-content {
  margin-right: 7px;
}
                
.buttondemoBasicUsage section .md-button:not(.md-fab) {
  min-width: 10em; 
}
                  
.buttondemoBasicUsage section .md-button {
  display: block;
  margin: 1em;
  line-height: 25px; 
}
                    
.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  color: #ccc;
  font-size: 14px;
}

.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button, .tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
  box-shadow: none;
  border: none;
  transform: none;
  -webkit-transform: none; 
}

.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover button {
  background: rgba(46, 168, 109, 0.8);
}

.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:focus, .tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button button:focus {
  background: #2ea86d;
}

.tooltipdemoBasicUsage .left {
  top: 70px !important;
  left: 56px !important;
}
                              
.tooltipdemoBasicUsage .right {
  top: 70px !important;
  right: 56px !important;
}

a, button, a:hover, button:hover, a:visited, button:visited, a:focus, button:focus {
  outline: none;
  text-decoration: none;
}
